.inputs {
    position: relative;
}

.form-control {
    text-indent: 15px;
    border: none;
    height: 45px;
    border-radius: 0px;
    border-bottom: 1px solid #eee;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #eee;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid blue;
}

.form-control:focus {
    color: blue;
}

.inputs i {
    position: absolute;
    top: 40px;
    left: 4px;
    color: #b8b9bc;
}

.fa-chart-bar {
    color: blue;
}

.content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}

.card {
    width: 300px;
    height: auto;
}

.card img {
    height: 200px;
    max-height: 200px;
    width: 100%;
}

.fa-edit {
    color: blue;
}

.fa-trash-alt {
    color: red;
}

.fa-check {
    color: green;
}

.card__description {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card__description p {
    margin: 0;
}

.card__link {
    display: block;
    height: 100%;
    cursor: pointer;
}

.card__link:hover {
    opacity: 0.7;
    transition: opacity 0.2s linear;
}

.color {
    padding-left: 30px;
    padding-right: 30px;
}

.card__circle {
    height: 20px;
    width: 20px;
}

button {
    border: none;
    background: transparent;
}

a {
    text-transform: none;
    text-decoration: none;
    color: black;
}

a:hover {
    text-transform: none;
    text-decoration: none;
    color: black;
}

input:focus {
    outline: none;
}

.fas:hover,
.far:hover {
    opacity: 0.8;
    transition: opacity 0.2s linear;
}